<ion-header>
    <app-toolbar [color]="pageColor"
                 [title]="pageTitle">
    </app-toolbar>
</ion-header>

<ion-content class="login-box ion-padding">
    <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>
        <ion-item>
            <img class="logo" src="../../../assets/img/code-brain-welcome.png" alt="code brain">
        </ion-item>
        <ion-item>
            <ion-label padding-bottom position="stacked">Email</ion-label>
            <ion-input
                    formControlName="email"
                    type="email"
                    placeholder="Your email address"
                    [class.invalid]="!signupForm.controls.email.valid && signupForm.controls.email.dirty"
            ></ion-input>
        </ion-item>
        <ion-item
                class="error-message"
                *ngIf="!signupForm.controls.email.valid  && signupForm.controls.email.dirty"
        >
            <p>Please enter a valid email.</p>
        </ion-item>

        <ion-item>
            <ion-label padding-bottom position="stacked">Password</ion-label>
            <ion-input
                    formControlName="password"
                    type="password"
                    placeholder="Your password"
                    [class.invalid]="!signupForm.controls.password.valid && signupForm.controls.password.dirty"
            ></ion-input>
        </ion-item>
        <ion-item
                class="error-message"
                *ngIf="!signupForm.controls.password.valid  && signupForm.controls.password.dirty"
        >
            <p>Your password needs more than 6 characters.</p>
        </ion-item>

        <ion-button size="block" [color]="pageColor" type="submit">
            Create an Account
        </ion-button>
    </form>
</ion-content>
