<ion-header>
  <ion-toolbar color="tertiary" mode="ios">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Reset Your Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="resetPasswordForm" (submit)="resetPassword()" novalidate>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input
              formControlName="email"
              type="email"
              placeholder="Your email address"
              [class.invalid]="!resetPasswordForm.controls.email.valid && resetPasswordForm.controls.email.dirty"
      ></ion-input>
    </ion-item>
    <ion-item
            class="error-message"
            *ngIf="!resetPasswordForm.controls.email.valid  && resetPasswordForm.controls.email.dirty"
    >
      <p>Please enter a valid email.</p>
    </ion-item>

    <ion-button size="block" color="tertiary" type="submit">
      Reset your Password
    </ion-button>
  </form>
</ion-content>
