<ion-header>
  <app-toolbar
          [backButton]="true"
          [color]="pageColor"
          [title]="pageTitle"
  ></app-toolbar>
</ion-header>

<ion-content class="login-box ion-padding">
  <form [formGroup]="resetPasswordForm" (submit)="resetPassword()" novalidate>
    <ion-item>
      <img class="logo" src="../../../assets/img/code-brain-duh.png" alt="code brain">
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input
              formControlName="email"
              type="email"
              placeholder="Your email address"
              [class.invalid]="!resetPasswordForm.controls.email.valid && resetPasswordForm.controls.email.dirty"
      ></ion-input>
    </ion-item>
    <ion-item
            class="error-message"
            *ngIf="!resetPasswordForm.controls.email.valid  && resetPasswordForm.controls.email.dirty"
    >
      <p>Please enter a valid email.</p>
    </ion-item>

    <ion-button size="block" [color]="pageColor" type="submit">
      Reset your Password
    </ion-button>
  </form>
</ion-content>
