<ion-toolbar [color]="color" mode="ios">
  <ion-buttons slot="start">
    <ion-menu-button *ngIf="!backButton"></ion-menu-button>
    <ion-back-button *ngIf="backButton"></ion-back-button>
  </ion-buttons>
  <ion-title>
    {{ title }}
  </ion-title>
</ion-toolbar>
