<ion-header>
    <app-toolbar
            [backButton]="false"
            [color]="pageColor"
            [title]="pageTitle"
    ></app-toolbar>
</ion-header>

<ion-content>
    <ion-list-header>
        Account
    </ion-list-header>
    <ion-list>
        <ion-item detail-icon (click)="goToResetPassword()">
            Reset My Password
        </ion-item>
    </ion-list>
</ion-content>
