<ion-header>
    <app-toolbar
            color="primary"
            [title]="pageTitle"
    ></app-toolbar>
</ion-header>

<ion-content *ngIf="loginForm" class="login-box">
  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
      <ion-item>
          <img class="logo" src="../../../assets/img/code-brain-no-text.png" alt="code brain">
      </ion-item>
      <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input
              #email
              formControlName="email"
              type="email"
              placeholder="Your email address"
              [class.invalid]="!loginForm.controls.email.valid &&
          loginForm.controls.email.dirty"
      ></ion-input>
    </ion-item>

    <ion-item
            class="error-message"
            *ngIf="!loginForm.controls.email.valid  &&
      loginForm.controls.email.dirty"
    >
      <p>Please enter a valid email.</p>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input
              #password
              formControlName="password"
              type="password"
              placeholder="Your password"
              [class.invalid]="!loginForm.controls.password.valid &&
          loginForm.controls.password.dirty"
      ></ion-input>
    </ion-item>
    <ion-item
            class="error-message"
            *ngIf="!loginForm.controls.password.valid  &&
      loginForm.controls.password.dirty"
    >
      <p>Your password needs more than 6 characters.</p>
    </ion-item>

    <ion-button size="block" type="submit">
      Login
    </ion-button>
  </form>

  <ion-button size="block" color="clear" (click)="goToResetPassword()">
    I forgot my password :-(
  </ion-button>

  <ion-button size="block" color="clear" [routerLink]="'/sign-up'">
    Create a new account
  </ion-button>
</ion-content>
