<ion-app>
  <ng-container *ngIf="isAuthorized">
    <ion-split-pane>
      <ion-menu class="sidebar" type="overlay">
        <ion-content>
          <ion-list>
            <ion-list-header>Main</ion-list-header>
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
              <ion-item *ngIf="p.title !== 'Logout' && p.title !== 'Settings'" [routerDirection]="'root'" [routerLink]="[p.url]">
                <ion-icon slot="start" [name]="p.icon"></ion-icon>
                <ion-label>
                  {{p.title}}
                </ion-label>
              </ion-item>
              <ng-container *ngIf="p.title === 'Logout' || p.title === 'Settings'">
                <ion-list-header *ngIf="p.title === 'Settings'">User</ion-list-header>
                <ion-item *ngIf="p.title === 'Settings'" [routerDirection]="'root'" [routerLink]="[p.url]">
                  <ion-icon slot="start" [name]="p.icon"></ion-icon>
                  <ion-label>
                    {{p.title}}
                  </ion-label>
                </ion-item>
                <ion-item *ngIf="p.title === 'Logout'" [routerDirection]="'root'" [routerLink]="[p.url]" (click)="logout()">
                  <ion-icon slot="start" [name]="p.icon"></ion-icon>
                  <ion-label>
                    {{p.title}}
                  </ion-label>
                </ion-item>
              </ng-container>
            </ion-menu-toggle>
          </ion-list>
        </ion-content>
        <ion-footer>
          <ion-item class="main-menu-logo">
            <img class="main-menu-logo" src="../assets/img/code-brain-no-text.png" alt="code-brain">
          </ion-item>
        </ion-footer>
      </ion-menu>
      <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
  </ng-container>

  <ng-container *ngIf="!isAuthorized">
    <ion-router-outlet main></ion-router-outlet>
  </ng-container>
</ion-app>
