<ion-header>
  <app-toolbar [color]="pageColor"
               [title]="pageTitle">
  </app-toolbar>
</ion-header>
<ion-content>
  <app-dashboard-list></app-dashboard-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
